
/* ==========================================================================
1. Infinite Srcoll Loader
========================================================================== */

.infinite-scroll-loader {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

}

.infinite-scroll-loader.is-active {
     pointer-events: all;
     opacity: 1;
 }

.infinite-scroll-loader .infinite-scroll-loader-inner {
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.infinite-scroll-loader .infinite-scroll-loader-inner .loader {
    height: 5rem;
    width: 5rem;
}

.infinite-scroll-loader .infinite-scroll-loader-inner .loader .loader-end span {
    font-family: inherit;
    color: inherit;
}


/* ==========================================================================
2. H Loader
========================================================================== */

/*.has-loader {*/
/*    position: relative;*/
/*    min-height: 30vh;*/
/*}*/

/*.has-loader.has-loader-active {*/
/*     overflow: hidden;*/
/* }*/

/*.v-loader-wrapper {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: #0a0c0d;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    transition: opacity 0.3s;*/
/*    z-index: 999;*/
/*}*/

/*.v-loader-wrapper.is-active {*/
/*    opacity: 1;*/
/*    pointer-events: all;*/
/*}*/
/*.v-loader-wrapper.is-active.is-translucent {*/
/*     opacity: 0.25;*/
/* }*/


/*.v-loader-wrapper.is-active.is-grey {*/
/*     background: beige;*/
/* }*/

/*.loader {*/
/*    height: 3rem;*/
/*    width: 3rem;*/
/*        animation: spinAroundLoader 500ms infinite linear;*/
/*        border: 5px solid var(--hs-secondary-color);*/
/*        border-radius: 99px;*/
/*        border-right-color: transparent;*/
/*        border-top-color: transparent;*/
/*        content: '';*/
/*        display: block;*/
/*        height: 1em;*/
/*        position: relative;*/
/*        width: 1em;*/
/*}*/

/*.loader.is-small {*/
/*     height: 2rem;*/
/*     width: 2rem;*/
/* }*/

/*.loader.is-large {*/
/*     height: 5rem;*/
/*     width: 5rem;*/
/* }*/

/*.loader.is-xl {*/
/*     height: 7rem;*/
/*     width: 7rem;*/
/* }*/
.v-loader-wrapper  {
    position: fixed;
    background: white;
    z-index: 999;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.v-loader-wrapper .loading-content{
    margin: auto;
    position: absolute;
    left: 50%;
    top:50%;
    overflow: auto;
    transform: translate(-50%,-50%);
}

@keyframes km-img-loading {
    0% {
        width: 120px;
        opacity: 0.5;
    }

    50% {
        width: 150px;
        opacity: 1;
    }

    100% {
        width: 120px;
        opacity: 0.5;
    }
}
/*.is-dark {*/
/*.has-loader {*/
/*.v-loader-wrapper {*/
/*    background: lighten($dark-sidebar, 6%);*/

/*&.is-grey {*/
/*     background: lighten($dark-sidebar, 10%);*/
/* }*/
/*}*/
/*}*/
/*}*/

/*$grey-lighter: hsl(0, 0%, 86%) !default;*/
/*$radius-rounded: 290486px !default;*/

@keyframes spinAroundLoader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

